<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Лічильник</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="box">
        <h2>Поточно нажато на кнопку: 0</h2>
        <button>Натисни не мене</button>
    </div>
</body>
<script>
    let button = document.getElementsByTagName('button')[0];
    let text = document.getElementsByTagName('h2')[0];
    let count = 0;

    button.addEventListener('click', function() {
        count++;
        text.innerHTML = 'Поточно нажато на кнопку: ' + count;
    });
</script>
</html>
