<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Frameset та його альтернативи</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="box">
        <h2>Що таке frameset?</h2>
        <p>Елемент frameset раніше використовувався для поділу сторінки на кілька незалежних областей (фреймів), у кожному з яких завантажувалася окрема HTML-сторінка. Це було з одного боку зручно, адже існування спеціального елементу дещо полегшувало рутинне написання окремих елементів під таку базову потребу, яка допомагала створювати навігаційні елементи чи просто окремо поділені сторінки для паралельного перегляду (як в Ютубі паралельна прогортка коментарів з переглядом відео). Однак, цей елемент з часом виявився застарілим та замінним на більш гнучкі конструкції елементів тож був прибраний у HTML5.</p>

        <h2>Що можна використовувати замість нього?</h2>
        <p>Замість frameset сучасні альтернативи пропонують:</p>
        <ul>
            <li>Теги iframe як примітивний варіант для вбудовування окремих сторінок (зазвичай, існуючих веб-сторінок) у розмітку.</li>
            <p>Це все створюється за допомогою елементу iframe з вказаним параметром назви, тобто як в цьому прикладі з вбудованими сторінками:</p>
            <div class="codebox">
                <pre>
    &lt;body&gt;
        &lt;div&gt;
            &lt;iframe src="menu.html" name="menu"&gt;&lt;/iframe&gt;
            &lt;iframe src="view.html" name="content"&gt;&lt;/iframe&gt;
        &lt;/div&gt;
    &lt;/body&gt;
                </pre>
            </div>
            <br>
            <li>CSS-стилі з використанням display: flex , що являється більше стильовим рішенням для розмітки вкладених сторінок.</li>
            <p>Це все створюється за допомогою стильової конструкції з елементом із display: flex та дочірніми елементами із параметром flex який визначає пропорції які займають елементи в батьківському елементі.</p>
            <div class="codebox">
                <pre>
    .box{
        display: flex;
    }

    .leftSide{
        flex: 3;
    }

    .rightSide{
        flex: 7;
    }
                </pre>
            </div>
            <br>
            <li>JavaScript для динамічного завантаження контенту без перезавантаження сторінки, наприклад, якийсь часто оновлюваний об’єкт, типу таймера або простого каунтера.</li>
            <p>Ось подібний приклад:</p>
            <div class="codebox">
                <pre>
    let button = document.getElementsByTagName('button')[0];
    let text = document.getElementsByTagName('h2')[0];
    let count = 0;

    button.addEventListener('click', function() {
        count++;
        text.innerHTML = 'Поточно нажато на кнопку: ' + count;
    });
                </pre>
            </div>
        </ul>
    </div>
</body>
</html>
